<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ProductDB" connectionString="Data Source=hhtraveldb.dev.sh.ctriptravel.com,28747;Initial Catalog=ProductDB;Persist Security Info=True;User ID=sa;Password=123456W_123456w"></add>
    <add name="OrderDB" connectionString="Data Source=hhtraveldb.dev.sh.ctriptravel.com,28747;Initial Catalog=OrderDB;Persist Security Info=True;User ID=sa;Password=123456W_123456w"></add>
    <add name="CustomerDB" connectionString="Data Source=hhtraveldb.dev.sh.ctriptravel.com,28747;Initial Catalog=CustomerDB;Persist Security Info=True;User ID=sa;Password=123456W_123456w"></add>
    <add name="GovDB" connectionString="Data Source=hhtraveldb.dev.sh.ctriptravel.com,28747;Initial Catalog=GovDB;Persist Security Info=True;User ID=sa;Password=123456W_123456w"></add>
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--应用程序ID-->
    <add key="AppID" value="110201"/>
    <!--是否完全将日志直接写入本地文件，不日志服务-->
    <add key="WriteLocalLog" value="false"/>
    <!--本地日志路径-->
    <add key="Logpath" value="D:\Log\"/>
    <!--是否完全使用本地配置,不使用配置服务-->
    <add key="UseConfigFile" value="true" />
    <!--本地缓存路径-->
    <add key="Cachepath" value="D:\Cache\"/>
    <!--是否使用Mock的Repository-->
    <add key="MockRepository" value="False"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider"
               invariant="EFCachingProvider"
               description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
      <add name="EF Tracing Data Provider"
               invariant="EFTracingProvider"
               description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
      <add name="EF Generic Provider Wrapper"
               invariant="EFProviderWrapper"
               description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
    </DbProviderFactories>
  </system.data>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConfigSvc" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILogSvc" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hhtravel.dev.sh.ctriptravel.com/HHTravel.Base.Config.Service/ConfigSvc.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigSvc"
          contract="ConfigSvcRef.IConfigSvc" name="BasicHttpBinding_IConfigSvc" />
      <endpoint address="http://hhtravel.dev.sh.ctriptravel.com/HHTravel.Base.Logging.Service/LogSvc.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogSvc"
          contract="LogSvcRef.ILogSvc" name="BasicHttpBinding_ILogSvc" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
