@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@section JS{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var s = 3;  // 3s 后跳转
            $('#seconds').text(s);
            setInterval(function () {
                s--;
                if (s == 0) {
                    location = '@Url.Index()';
                }
                else {
                    $('#seconds').text(s);
                }
            }, 1000);   // 1s
        });
    </script>
}
<div class="header_warp" style="width: 100%">
    <div class="error_page">
        <h4>
            找不到这个网页</h4>
        <p>
            很报歉，您所连接的URL不存在服务器，请确定该连接正确无误，或点选下面链接回鸿鹄逸游首页或<a href="javascript:history.go(-1)">按上一页</a>按钮。</p>
        <p>
            ‧鸿鹄逸游首页：<a href="http://www.hhtravel.com/">www.hhtravel.com</a></p>
        <p>
            <span id="seconds">@*seconds*@</span> 秒后自动跳转到首页</p>
        <em></em>
    </div>
</div>