@{
    ViewBag.Title = "环游世界";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<p class="around_word_list">
    <img src="@Url.Content("~/images/around_world/indexcn_s16.jpg")" alt="新航A380豪华套房+商务舱．精选16天" border="0"
        usemap="#Map" />
    <map name="Map" id="Map">
        <area shape="rect" coords="371,247,456,274" href="pro_detail.htm" />
        <area shape="rect" coords="468,248,547,273" href="pro_detail.htm" />
    </map>
    <img src="@Url.Content("~/images/around_world/indexcn_s16free.jpg")" alt="新航A380豪华套房+商务舱．精选自由行16天"
        border="0" usemap="#Map2" />
    <map name="Map2" id="Map2">
        <area shape="rect" coords="374,216,454,241" href="pro_detail.htm" />
        <area shape="rect" coords="463,216,543,241" href="pro_detail.htm" />
    </map>
    <img src="@Url.Content("~/images/around_world/indexcn_80.jpg")" alt="高端环游世界80天" border="0" usemap="#Map3" />
    <map name="Map3" id="Map3">
        <area shape="rect" coords="373,182,453,206" href="pro_detail.htm" />
        <area shape="rect" coords="466,181,544,207" href="pro_detail.htm" />
    </map>
    <img src="@Url.Content("~/images/around_world/indexcn_50.jpg")" alt="高端环游世界50天" border="0" usemap="#Map4" />
    <map name="Map4" id="Map4">
        <area shape="rect" coords="376,180,455,205" href="pro_detail.htm" />
        <area shape="rect" coords="465,179,545,206" href="pro_detail.htm" />
    </map>
</p>
