@{
    ViewBag.Title = "热门品鉴";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="b_service">
    <p class="b_desc">
        「鸿鹄逸游 HHtravel」以高端坚持打造每趟旅程，坚持高标准的服务规格，让您无忧无虑，尽情享受优质旅行。</p>
    <div class="b_detail">
        <ul class="b_list b_l_reset">
            <li>
                <h5 style="letter-spacing: 15px">
                    商务舱</h5>
                <p>
                    国际航线全程使用商务舱，航空公司贵宾室候机礼遇。</p>
                <p>
                    (连接航程或国内线机型若没有商务舱才使用经济舱。)</p>
            </li>
            <li>
                <h5>
                    高端住宿</h5>
                <p>
                    精选各地得奖酒店、渡假庄园、城堡皇宫。</p>
            </li>
            <li>
                <h5>
                    美食飨宴</h5>
                <p>
                    安排米其林餐厅，各地风味美食。</p>
            </li>
            <li>
                <h5>
                    六人成行</h5>
                <p>
                    每团只要6人以上保证出团，容易出发。</p>
            </li>
            <li>
                <h5>
                    一人两座</h5>
                <p>
                    专属巴士一人两座，宽敞舒适。</p>
                <p>
                    (除特殊路段基于安全考量，只能行驶小型车。)</p>
            </li>
        </ul>
        <ul class="b_list" style="padding-top: 190px;">
            <li>
                <h5>
                    专业领队</h5>
                <p>
                    严选经验与口碑领队，出发前5天亲自联系旅客，贴心提醒出团注意事项。</p>
            </li>
            <li>
                <h5>
                    严选时节</h5>
                <p>
                    每一行程皆挑选适切的季节、气候、景观、节庆期间前往，饱览独特景致。</p>
            </li>
            <li>
                <h5>
                    小型团队</h5>
                <p>
                    每团旅客最多10人。</p>
            </li>
            <li>
                <h5>
                    定制延宿</h5>
                <p>
                    旅客可额外支付住宿费用延长旅程，假期更灵活。</p>
            </li>
            <li>
                <h5>
                    珍贵稀有</h5>
                <p>
                    资源限定，部分团型1年只有1团。</p>
            </li>
        </ul>
    </div>
</div>
<div class="b_service b_bg_reset">
    <div class="b_detail">
        <p class="b_logo">
        </p>
        <ul class="b_viewlist">
            <li>
                <p>
                    「鸿鹄逸游 HHtravel」是梦想、是体验、是收藏。</p>
                <p>
                    是一生追求的鸿鹄大志 是无与伦比的奢华体验 是一趟旅行，一个无价的收藏</p>
            </li>
            <li>
                <p>
                    「鸿鹄逸游 HHtravel」创作，挑战极限 服务，精雕细琢</p>
            </li>
            <li>
                <p>
                    「鸿鹄逸游 HHtravel」是由市场领导品牌「大陆Ctrip携程旅行网与太美国际旅行」、</p>
                <p>
                    「香港WingOn永安旅游」与「台湾ezTravel易游网」合作创立。</p>
            </li>
        </ul>
    </div>
</div>
