@{
    ViewBag.Title = "联络我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pp_bg2">
    <p>
        为您服务是我们的荣幸，如有高端旅游需求，或需「鸿鹄逸游 HHtravel」任何行程讯息，欢迎透过以下方式与我们联络。</p>
    <h2>
        鸿鹄·上海</h2>
    <p>
        ‧服务电话 400 690 2323</p>
    <p>
        ‧服务时间 周一至周五 9：00～18：00</p>
</div>
