@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fd_links cooperation clearfix">
    <a href="#" class="new-blank" style="border-left:1px dotted #aaa;"><img alt="顶级梦想  银联尊享" src="@Url.Content("~/images/cooperation_img/taste_cn_436x199_01.jpg")" /><span>顶级梦想 银联尊享</span></a>
    <a href="#" class="new-blank"><img alt="招行无限" src="@Url.Content("~/images/cooperation_img/taste_cn_436x199_02.jpg")" /><span>招行无限白金客户尊享</span></a>
</div>
<p class="hh_ft_img clearfix"></p>
