@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div class="header_warp" style="width:100%">
    <div class="error_page">
        <h4>
            系统异常</h4>
        <p>
            很报歉，系统出了点小意外，请稍后再来访问。<br />
            您可以拨打400 690 2323将此错误告诉给我们的客服中心</p>
        <p>
            ‧鸿鹄逸游首页：<a href="http://hhtravel.com/">www.hhtravel.com</a></p>
        <em></em>
    </div>
    <div class="error_log" style="display: none;">
        @ViewBag.Exception</div>
</div>
