@model IEnumerable<HHTravel.CRM.Booking_Online.DomainModel.Hotel>
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div style="padding-left: 15px">
    @Html.Partial("_Hotels", Model)
</div>
