@model HHTravel.CRM.Booking_Online.Site.Models.ProductModel
@{ var p = Model;
   var tagStyle = "";
   var tagText = "";
   if (p.TravelType == TravelType.TravelType1)
   {
       tagStyle = "background-image:url(" + Url.Content("~/images/travelType1.gif") + ");width:131px";
   }
   else if (p.TravelType == TravelType.TravelType4)
   {
       tagStyle = "background-image:url(" + Url.Content("~/images/travelType4.gif") + ");width:131px";
   }
   else
   {
       tagText = p.TravelType.Description();
   }

   if (p.ProductName.Contains("夏令营"))
   {
       tagText = "夏令营";
   }
}
<p class="type_label">
    <label class="travel_type" style="@tagStyle">@tagText</label>
    @if (p.IsRecommended)
    {<label class="hit_type">年度推荐</label>}</p>
