@{
    ViewBag.Title = "转寄好友";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div class="header_warp" style="width: 470px;">
    <div class="order_warp" style="width: 450px; padding: 0 10px;">
        <div class="send_header_cn">
        </div>
        <p class="tbl_send_warp">
            <span class="TXT_r">邮件已寄出，感谢您使用本服务!</span><br /><br />
            @*http://blogs.x2line.com/al/articles/350.aspx*@ <a href="javascript:window.opener='x';window.close();">
                关闭本窗口</a>
        </p>
        <div class="send_footer_cn">
        </div>
    </div>
</div>
