@model IEnumerable<HHTravel.DomainModel.DepartureMonth>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

    // 为下拉框准备json数据 （用AJAX，这段代码也要写，而且客户端还是要每次发请求）
    // 生成格式：[{y:2012, ms:[9,10,11,12,]},{y:2013, ms:[1,2,3,4,5,6,7,8,]},]
    var months = Model;
    var groups = months.GroupBy(m => m.Year);

    System.Text.StringBuilder sb = new System.Text.StringBuilder();
    foreach (var g in groups)
    {
        int year = g.Key;
        System.Text.StringBuilder sb2 = new System.Text.StringBuilder();
        foreach (var m in g)
        {
            sb2.AppendFormat("{0},", m.Month);
        }
        sb.AppendFormat("{{y:{0}, ms:[{1}]}},", year, sb2.ToString().TrimEnd(','));
    }
    string json = string.Format("[{0}]", sb.ToString().TrimEnd(','));

}
@section JS{
    <script type="text/javascript">
        $(function () {
            var data = @json;
            for (i = 0; i < data.length; i++) {
                document.getElementById("ddlYear").options.add(new Option(data[i].y+"年", data[i].y));
            }
            for (i = 0; i < data[0].ms.length; i++) {
                document.getElementById("ddlMonth").options.add(new Option(data[0].ms[i]+"月", data[0].ms[i]));
            }
            $('#ddlYear').change(function () {
                var year = $(this).val();
                $('#ddlMonth').empty();
                for (i = 0; i < data.length; i++) {
                    if (data[i].y == year) {
                        for (j = 0; j < data[i].ms.length; j++) {
                            document.getElementById("ddlMonth").options.add(new Option(data[i].ms[j]+"月", data[i].ms[j]));
                        }
                    }
                };
            });
        });
    </script>
}
<div class="date_select">
    @using (Html.BeginForm("FindBy", "Product", new { propertyType = 3 }))
    {
        <select name="propertyValue" style="width: 75px;" id="ddlYear">
        </select>
        <select name="childValue" style="width: 60px;" id="ddlMonth">
        </select>
        <input id="btnFind" type="submit" class="ds_btn" value="搜寻" />
    }
</div>
<h4 class="d_title mt20">
    出发月份</h4>
<p class="d_cont" style="width: 420px;">
    您可以根据您的旅游计划，搜寻符合所需的出发日期，抑或提出量身订制的客制化需求，「鸿鹄逸游 HHtravel」都将竭诚为您服务。每个高端旅游者的鸿鹄大志，皆得以在此展翅高飞。</p>
<p class="d_photo">
    <img alt="「鸿鹄逸游 HHtravel」出发月份" src="@Url.Content("~/images/date_pic-1.jpg")" /><img alt="「鸿鹄逸游 HHtravel」出发月份" src="@Url.Content("~/images/date_pic-2.jpg")" /></p>