@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fd_links clearfix">
    <a href="http://www.lvping.com/" class=" new-blank" style="border-left:1px dotted #aaa;"><img alt="驴评网" src="@Url.Content("~/images/frd_links/logo03b.gif")" /><span>驴评网</span></a>
    <a href="http://www.landzestate.com" class=" new-blank"><img alt="丽兹行" src="@Url.Content("~/images/frd_links/logo04b.jpg")" /><span>丽兹行</span></a>
    <a href="http://www.xiaomishu.com" class=" new-blank"><img alt="订餐小秘书" src="@Url.Content("~/images/frd_links/logo02b.png")" /><span>订餐小秘书</span></a>
    <a href="http://www.tujia.com" class=" new-blank"><img alt="途家网" src="@Url.Content("~/images/frd_links/logo01b.gif")" /><span>途家网</span></a>
</div>

